---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="flex gap-[1ch] items-center-safe">
  {
    href ? (
      <a
        href={href}
        class="flex gap-[1ch] items-center-safe decoration-blue-600/40 hover:text-blue-500 transition-colors underline underline-offset-4"
      >
        <slot name="icon" />
        <slot />
      </a>
    ) : (
      <>
        <slot name="icon" />
        <slot />
      </>
    )
  }
</li>
