---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="flex items-center-safe gap-[1ch]">
  {
    href ? (
      <a
        href={href}
        class="flex items-center-safe gap-[1ch] underline decoration-blue-600/40 underline-offset-4 transition-colors hover:text-blue-500"
      >
        <slot name="icon" />
        <slot />
      </a>
    ) : (
      <>
        <slot name="icon" />
        <slot />
      </>
    )
  }
</li>
