---
import { getSecret } from "astro:env/server";
import { MapPinHouseIcon, PrinterIcon } from "@lucide/astro";

const location = getSecret("LOCATION");
---

<div
  class="p-8 print:py-4 print:pt-4 pt-16 border-b border-b-zinc-100 grid grid-cols-[1.25fr_auto] gap-4 sm:gap-8"
>
  <div class="flex flex-col">
    <h1
      class="text-xl font-black font-mono leading-normal decoration-1 underline decoration-dashed underline-offset-4 decoration-amber-400"
    >
      Mikhail Kononenko
    </h1>
    <h2 class="text-l font-semibold leading-normal">
      Senior Frontend Developer
    </h2>
    <div class="flex gap-[1ch] items-center-safe text-sm mt-1 text-zinc-500">
      <MapPinHouseIcon size={12} />
      {location}
    </div>
  </div>
  <div
    class="print:hidden flex justify-self-end justify-items-end align-items-center md:text-base text-[0px]"
  >
    <button
      onclick="window.print()"
      class="flex gap-[1ch] self-center items-center text-amber-800 cursor-pointer h-6 px-2 py-1 hover:text-amber-700 transition-colors"
      ><PrinterIcon size={16} />Print or Save as PDF</button
    >
  </div>
</div>
