---
import * as languages from "@/content/cv/languages.mdx";
---

<section class="not-last:border-b border-b-zinc-100 px-8 py-4">
  <div class="prose prose-sm prose-zinc prose-p:my-0">
    <languages.Content />
  </div>
</section>
