---
import * as languages from "@/content/cv/languages.mdx";
---

<section class="border-b-zinc-100">
  <div class="prose prose-sm prose-zinc prose-p:my-0">
    <languages.Content />
  </div>
</section>
