---
import * as skills from "@/content/cv/skills.mdx";
---

<section
  class="border-b border-b-zinc-100 px-8 py-4 md:border-b-0 print:border-b-0"
>
  <div class="prose prose-zinc prose-sm">
    <skills.Content />
  </div>
</section>
