---
import { getCollection } from "astro:content";
import date from "dayjs";

import Org from "@/components/cv/Org.astro";
import WorkExperience from "./WorkExperience.astro";

const allWork = await getCollection("workExperiences");

const sortedWork = allWork.sort(
  (a, b) => date(b.data.dateStart).valueOf() - date(a.data.dateStart).valueOf(),
);

const groupedByOrg = sortedWork.reduce(
  (acc, exp) => {
    const orgId = exp.data.org.id;
    if (!acc[orgId]) acc[orgId] = [];
    acc[orgId].push(exp);
    return acc;
  },
  {} as Record<string, typeof allWork>,
);
---

<section class="border-b border-b-zinc-100 px-8 py-4">
  <h2
    class="mb-3 font-mono text-lg font-black underline decoration-zinc-200 decoration-dashed decoration-1 underline-offset-8"
  >
    Work Experience
  </h2>
  {
    Object.entries(groupedByOrg).map(async ([orgId, roles]) => (
      <section class="grid auto-rows-auto gap-x-[4ch] md:grid-cols-[15ch_auto] print:grid-cols-[15ch_auto]">
        <Org id={orgId} />

        {roles.map((role) => (
          <WorkExperience id={role.id} />
        ))}
      </section>
    ))
  }
</section>
