---
import { getCollection, getEntry, render } from "astro:content";
import date from "dayjs";

import Org from "@/components/cv/Org.astro";
import WorkExperience from "./WorkExperience.astro";

const allWork = await getCollection("workExperiences");

const sortedWork = allWork.sort(
  (a, b) => date(b.data.dateStart).valueOf() - date(a.data.dateStart).valueOf()
);

const groupedByOrg = sortedWork.reduce(
  (acc, exp) => {
    const orgId = exp.data.org.id;
    if (!acc[orgId]) acc[orgId] = [];
    acc[orgId].push(exp);
    return acc;
  },
  {} as Record<string, typeof allWork>
);
---

<section class="p-8 print:py-4 border-b-zinc-100 border-b">
  <h2
    class="font-mono decoration-1 underline underline-offset-8 decoration-dashed font-black decoration-zinc-200 text-lg mb-3"
  >
    Work Experience
  </h2>
  {
    Object.entries(groupedByOrg).map(async ([orgId, roles]) => {
      const org = await getEntry("orgs", orgId);
      return (
        <section class="grid md:grid-cols-[15ch_auto] auto-rows-auto gap-x-[2ch]">
          <Org id={orgId} />

          {roles.map((role) => (
            <WorkExperience id={role.id} />
          ))}
        </section>
      );
    })
  }
</section>
