---
import Layout from "../layouts/Layout.astro";
import CVLayout from "../layouts/CVLayout.astro";
import Header from "@/components/cv/Header.astro";
import Bio from "@/components/cv/Bio.astro";
import Contacts from "@/components/cv/Contacts.astro";
import Timeline from "@/components/cv/Timeline.astro";
import Education from "@/components/cv/Education.astro";
import Skills from "@/components/cv/Skills.astro";
import Languages from "@/components/cv/Languages.astro";
---

<Layout>
  <CVLayout>
    <Header />
    <div
      class="grid gap-0 sm:auto-rows-auto md:grid-cols-[1.25fr_auto] md:gap-4 print:grid-cols-[1.25fr_auto]"
    >
      <Bio />
      <Contacts />
    </div>
    <Timeline />
    <div
      class="grid gap-0 sm:auto-rows-auto md:grid-cols-[0.9fr_1.1fr] md:gap-4 print:grid-cols-[0.9fr_1.1fr]"
    >
      <Skills />
      <div class="flex flex-col">
        <Education />
        <Languages />
      </div>
    </div>
  </CVLayout>
</Layout>
