name: build-docker
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          version: 2025.12.12
          install: true
          cache: true
          log_level: debug
          reshim: false # [default: false] run `mise reshim -f`
      - run: deno task build
      - uses: docker/build-push-action@v5
